#main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#form-section {
	width: 577px;
	padding: 0px 16px;
}

#name-section {
	display: flex;
}

#first-name-container {
	margin-right: 24px;
}

.full-width {
	width: 100%;
}

a {
	text-decoration: none;
}

#actions-container {
	display: flex;
	justify-content: space-between;
	margin-top: 32px;
}

#signup {
	margin-right: -8px;
}

#terms-and-conditions-container {
	margin-top: 32px;
}

#terms-and-conditions-container > p {
	text-align: center;
}